#primerNombre{
  font-family:'Comic Sans MS';
}

#primerApellido{
  font-family:'Comic Sans MS';
}

#segundoNombre{
  font-family:'Comic Sans MS';
}

#segundoApellido{
  font-family:'Comic Sans MS';
}

#correo{
  font-family:'Comic Sans MS';
}

#telefono{
  font-family:'Comic Sans MS';
}

#registrarse{
  font-family:'Comic Sans MS';
  color: gainsboro;
  background-color:black;

}
