<div class="contact-page" id="nombre">
  <form [formGroup]="fGroup" class="col s12">
    <div class="row">
      <h4 class="center-align" style="font-family: Comic Sans MS;">Solicitud Compra-Alquiler</h4>
    </div>
    <!----------------------------------------------------------->
    <div class="input-field col s8" id="id">
      <input formControlName="id" id="id" type="text" class="validate" readonly/>
      <label for="id">{{recordId}}</label>
    </div>
    <div class="input-field col s8" id="direccion">
      <input formControlName="direccion" id="direccion" type="text" class="validate" readonly/>
      <label for="direccion">{{direccion}}</label>
    </div>
    <div class="input-field col s8" id="ciudad">
      <input formControlName="ciudad" id="ciudad" type="text" class="validate" readonly/>
      <label for="ciudad">{{ciudadId}}</label>
    </div>
    <div class="input-field col s8" id="asesor">
      <input formControlName="asesor" id="asesor" type="text" class="validate" readonly/>
      <label for="asesor">{{asesorId}}</label>
    </div>
    <div class="input-field col s8" id="precioRenta">
      <input formControlName="precioRenta" id="precioRenta" type="text" class="validate" readonly/>
      <label for="precioRenta">{{precioRenta}}</label>
    </div>
    <div class="input-field col s8" id="precioVenta">
      <input formControlName="precioVenta" id="precioVenta" type="text" class="validate"readonly />
      <label for="precioVenta">{{precioRenta}}</label>
    </div>
    <div class="input-field col s8" id="venta">
      <input formControlName="venta" id="venta" type="text" class="validate" readonly/>
      <label for="venta">{{venta}}</label>
    </div>
    <div class="input-field col s8" id="renta">
      <input formControlName="renta" id="renta" type="text" class="validate"readonly />
      <label for="renta">{{renta}}</label>
    </div>
<!--
    <div class="input-field col s12" id="ReCaptcha">
      <re-captcha formControlName="recaptcha">
      </re-captcha>
    </div>-->

    <div class="col" id="boton">
      <div class="col s12" id="button">
        <button class="btn waves-effect waves-light" (click)="EnviarCorreo()">Solicitar
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div class="col s12" id="button">
        <button class="btn red" type="button" (click)="goBack()">Cancelar
        </button>
      </div>
    </div>

