<h3 style="font-family:Comic Sans MS; ;">Lista de Asesores</h3>
<table>

    <thead>
      <tr style="font-family: Comic Sans MS;">
          <th>Nombre</th>
          <th>Documento</th>
          <th>Correo</th>
          <th>Celular</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of listaRegistros | paginate: { itemsPerPage: registrosPorPagina, currentPage: pag, totalItems: total }">
        <td>{{r.primerNombre}} {{r.segundoNombre}} {{r.primerApellido}} {{r.segundoApellido}}</td>
        <th>{{r.documento}}</th>
        <td>{{r.correo}}</td>
        <td>{{r.telefono}}</td>
      </tr>
      <tr>
        <td colspan="5" style="font-family: Comic Sans MS;" >
          <pagination-controls
                      (pageChange)="pag = $event; ListarRegistros()"
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                      screenReaderPaginationLabel="Navegación"
                      screenReaderPageLabel="Página"
                      screenReaderCurrentLabel="Página Actual">
          </pagination-controls>
        </td>
      </tr>
    </tbody>
  </table>
