<h2> Bienvenido a Akinmueble</h2>
<h6>Aquí encontratras los mejores y mas comodos lugares, para que puede escoger segun tu gusto.</h6>
<div class="row">
  <style>
  </style>
  <div class="col s12 m4">
    <div class="card" id="venta">
      <img src="../../../assets/venta.png">
      <div class="card-content white-text">
        <span class="card-title">Compra de inmueble</span>
        <p>Aquí podrás ver todos los inmuebles disponibles para la compra, por favor inicia sesión para comenzar.
        </p>
      </div>
      <div class="card-action">
        <a href="parametros/inmueble-listar">Ver</a>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="card" id="alquiler">
      <img src="../../../assets/alquiler.png">
      <div class="card-content white-text">
        <span class="card-title">Alquiler de inmueble</span>
        <p>Aquí podrás ver todos los inmuebles disponibles para el alquiler, por favor inicia sesión para comenzar.
        </p>
      </div>
      <div class="card-action">
        <a href="parametros/inmueble-listar">Ver</a>
      </div>
    </div>
  </div>
  <div class="col s12 m4">
      <div class="card" id="contactenos">
        <img src="../../../assets/contactenos.png">
        <div class="card-content white-text">
          <span class="card-title">Contáctenos</span>
          <p>Si deseas ponerte en contacto con nosotros, ingresa aquí y pronto tendrás una respuesta de nuestra parte.
          </p>
        </div>
        <div class="card-action">
          <a href="/seguridad/contactenos">Contáctenos</a>
  </div>
</div>
</div>
</div>
