<nav> <!-- navbar content here  --> </nav>

<ul id="slide-out" class="sidenav">
  <li><div class="user-view">
    <div class="background">
      <img src="images/office.jpg">
    </div>
    <a href="#user"><img class="circle" src="../../../../../logo.png"></a>
    <a href="#name"><span class="white-text name">Grupo 3</span></a>
    <a href="#email"><span class="white-text email">santiago.1701713773@ucaldas.edu.co</span></a>
  </div></li>
  <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
  <li *ngFor="let m of listaMenus">
    <a routerLink="{{ m.ruta }}">{{ m.texto }}</a>
  </li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
