<fieldset class="center container" style="font-family: Comic Sans MS;">
  <legend>Eliminación de Inmuebles</legend>
  <div class="row">
    <div class="row">
      <div class="showImage center-align">
        <img src="../../../../../assets/eliminar.png" class="imagenEliminar" />
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col s12" style="font-family: Comic Sans MS;">
      <strong>¿ Confirma la eliminación de los datos ?</strong>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="showImage center-align">
        <img src="{{BASE_URL}}ObtenerArchivo/1/{{foto}}" class="imagenInmueble" />
      </div>
    </div>
    <div class="row" style="font-family: Comic Sans MS;">
      <div class="col s4">
        Direccion: {{direccion}}
      </div>
      <div class="col s4">
        Precio de Venta : {{precioVenta}}
      </div>
      <div class="col s4">
        Precio de Renta : {{precioRenta}}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <a routerLink="/parametros/inmueble-listar" class="btn red" style="font-family: Comic Sans MS;">Cancelar</a>&nbsp;
        <button (click)="EliminarRegistro()" class="btn green" style="font-family: Comic Sans MS;">Eliminar</button>
      </div>
    </div>
  </div>
</fieldset>
