<div class="contact-page" id="nombre">
  <form [formGroup]="fGroup" class="col s12">
    <div class="row">
      <h4 class="center-align">Contáctenos</h4>
    </div>
    <div class="col">
      <div class="input-field col s3">
        <input formControlName="nombreCompleto" id="Nombre" type="text" class="validate" />
        <label for="nombreCompleto"> Nombre Completo</label>
      </div>
    </div>
    <div class="col" >
      <div class="input-field col s4" id="asunto">
        <input formControlName="tipoMensaje" id="Asunto" type="text" class="validate" />
        <label for="tipoMensaje">Asunto</label>
      </div>
      <div class="input-field col s8" id="correo">
        <input formControlName="correo" id="email" type="email" class="validate" />
        <label for="email">Correo</label>
      </div>
      <div class="input-field col s4" id="celular">
        <input formControlName="celular" id="celular" type="text" class="validate" />
        <label for="celular">Celular</label>
      </div>
    </div>
    <div class="input-field col s2">
      <textarea formControlName="mensaje" id="Descripcion" type="text" class="validate"></textarea>
      <label for="mensaje">Descripción</label>
    </div>
    <div class="row">
      <div class="input-field col s12" id="ReCaptcha">
        <re-captcha formControlName="recaptcha" >
        </re-captcha>
      </div>
    </div>
    <div class="col" id="boton">
      <div class="col s12">
        <button class="btn waves-effect waves-light" type="button" (click)="EnviarCorreo()">Enviar
          <i class="material-icons right">send</i>
        </button>
      </div>
      <div class="col s12 right-align" id="boton">
        <button class="btn red" type="button" routerLink="/inicio" >Cancelar
        </button>
      </div>
    </div>
  </form>
</div>
