<footer class="page-footer black">
  <div class="container">
    <div class="row" id="pie">
      <div class="col l6 s12">
        <h6 class="white-text" >Universidad de Caldas</h6>
        <p class="grey-text text-lighten-4">Programacion III</p>
        <p class="grey-text text-lighten-4">2023-I</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <h6 class="white-text" >Desarrolladores :</h6>
          <li><a class="grey-text text-lighten-3" href="seguridad/contactenos">Santiago Roncancio González</a></li>
          <li><a class="grey-text text-lighten-3" href="seguridad/contactenos">Juan Pablo Valencia Chaves</a></li>
          <li><a class="grey-text text-lighten-3" href="seguridad/contactenos">Miguel Angel Rojas Pardo</a></li>
        </ul>
      </div>
      <div class="center-align">
        <img src="../../../../assets/universidad.png" style="max-width: 200px; max-height: 200px;  border-radius: 50%; overflow: hidden;">
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  </div>
</footer>
