<footer class="page-footer black">
  <div class="container">
    <div class="row" id="pie">
      <div class="col l6 s12">
        <a href="https://www.ucaldas.edu.co/portal/" target="_blank">
          <h6 class="white-text">Universidad de Caldas</h6>
        </a>
        <a href="https://www.youtube.com/jotarlo" target="_blank">
          <p class="grey-text text-lighten-4">Programacion III</p>
        </a>
        <p class="grey-text text-lighten-4">2023-I</p>
      </div>
      <div class="col l4 offset-l2 s12 right-align  ">
        <ul>
          <h6 class="white-text" >Desarrolladores :</h6>
          <li><a class="grey-text text-lighten-3" href="seguridad/contactenos">Santiago Roncancio González</a></li>
          <li><a class="grey-text text-lighten-3" href="seguridad/contactenos">Juan Pablo Valencia Chaves</a></li>
          <li><a class="grey-text text-lighten-3" >Equipo Akinmueble</a></li>
        </ul>
      </div>
      <div class="center-align">
        <a href="https://www.ucaldas.edu.co/portal/" target="_blank">
          <img src="../../../../assets/universidad.png" style="max-width: 100px; max-height: 100px;  border-radius: 50%; overflow: hidden;">
        </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
  </div>
</footer>
