<fieldset class="center container" style="font-family: Comic Sans MS;">
  <legend style="font-family: Comic Sans MS;">Visualización de la propiedad</legend>
  <div class="row">
    <div class="row">
    </div>
  </div>


  <div class="row">
  </div>
  <div class="row">
    <div class="row">
      <div class="showImage center-align">
        <img src="{{BASE_URL}}ObtenerArchivo/1/{{foto}}" class="imagenInmueble" />
      </div>
    </div>
    <div class="row" style="font-family: Comic Sans MS;">
      <div class="col s4">
        Ciudad:
        <span *ngIf="ciudadId === 1">Manizales</span>
        <span *ngIf="ciudadId === 2">Pereira</span>
        <span *ngIf="ciudadId === 3">Armenia</span>
        <span *ngIf="ciudadId === 4">Medellin</span>

      </div>
      <div class="col s4">
        Direccion: {{direccion}}
      </div>
      <div class="col s4">
        Asesor :
        <span *ngIf="asesorId === 1">Juan Pablo Valencia</span>
        <span *ngIf="asesorId === 2">Santiago Roncancio</span>
      </div>
      <div class="col s4">

        Precio de Venta : ${{precioVenta | number:'1.0-0'}}
      </div>
      <div class="col s4">
        Precio de Renta : ${{precioRenta | number:'1.0-0'}}
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <a routerLink="/parametros/inmueble-listar" class="btn red" style="font-family: Comic Sans MS;">Cancelar</a>&nbsp;
        <button routerLink="/parametros/solicitud" class="btn green" style="font-family: Comic Sans MS;">Solicitar</button>
      </div>
    </div>
  </div>
</fieldset>
