<nav class="encabezado">

  <div class="nav-wrapper" id="encabezado">
    <img src = "../../../../assets/logo.png" atl="Logo">
    <a routerLink="/inicio" class="brand-logo">

      Akinmueble</a>

    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <li id="menu"><a *ngIf="!sesionActiva" routerLink="/seguridad/identificacion-usuario">Iniciar Sesion</a></li>
      <li id="menu"><a *ngIf="!sesionActiva" routerLink="/seguridad/cambiar-clave">Cambiar Contraseña</a></li>
      <li id="menu"><a *ngIf="!sesionActiva" routerLink="/seguridad/cerrar-sesion">Cerrar Sesion</a></li>
      <li id="menu"><a routerLink="/seguridad/nosotros">Nosotros</a></li>

    </ul>
  </div>
</nav>

<div *ngIf="!sesionActiva">
<app-menu-lateral> </app-menu-lateral>
</div>
